<section id="business-section">
    <div class="container">
        <p class="header slide" >Our Business</p>
        <div class="slider-container">
            <div class="slider" id="slider">
              <div class="slide" (click)="scrollToSection('section1')">Ethos Money</div>
              <div class="slide" (click)="scrollToSection('section2')">Ethos Invest</div>
              <div class="slide" (click)="scrollToSection('section3')">Ethos Ventures</div>
            </div>
          </div>  
    </div>
</section>

<section>
    <section id="section1" class="info-card">
        <div class="info-card-container">
            <div class="info-card-image">
                <div class="image-placeholder" style="background-color: red !important;"></div>
            </div>
            <div class="info-card-content">
                <p>
                    Soon to be a licensed bank in the financial capital of the world, London,
                    Ethos Money is quickly gaining more and more members in its waitlist.
                </p>
                <p>
                    Soon to be a licensed bank in the financial capital of the world, London,
                    Ethos Money is quickly gaining more and more members in its waitlist.
                </p>
                <p>
                    Ethos Money follows the best ethical principles and hence plans to be the
                    most transparent bank in the world.
                </p>
                <p>
                    Ethos Money follows the best ethical principles and hence plans to be the .
                </p>
            </div>
            <div class="info-card-buttons">
                <button class="learn-more-btn">Learn More</button>
                <button class="visit-btn">Visit Ethos Money</button>
            </div>
        </div>
    </section>

    <section id="section2" class="info-card">
        <div class="info-card-container">
            <div class="info-card-image">
                <div class="image-placeholder"  style="background-color: orange !important;"></div>
            </div>
            <div class="info-card-content">
                <p>
                    Soon to be a licensed bank in the financial capital of the world, London,
                    Ethos Money is quickly gaining more and more members in its waitlist.
                </p>
                <p>
                    Soon to be a licensed bank in the financial capital of the world, London,
                    Ethos Money is quickly gaining more and more members in its waitlist.
                </p>
                <p>
                    Ethos Money follows the best ethical principles and hence plans to be the
                    most transparent bank in the world.
                </p>
                <p>
                    Ethos Money follows the best ethical principles and hence plans to be the .
                </p>
            </div>
            <div class="info-card-buttons">
                <button class="learn-more-btn">Learn More</button>
                <button class="visit-btn">Visit Ethos Money</button>
            </div>
        </div>
    </section>

    <section id="section3" class="info-card">
        <div class="info-card-container">
            <div class="info-card-image">
                <div class="image-placeholder"  style="background-color: green !important;"></div>
            </div>
            <div class="info-card-content">
                <p>
                    Soon to be a licensed bank in the financial capital of the world, London,
                    Ethos Money is quickly gaining more and more members in its waitlist.
                </p>
                <p>
                    Soon to be a licensed bank in the financial capital of the world, London,
                    Ethos Money is quickly gaining more and more members in its waitlist.
                </p>
                <p>
                    Ethos Money follows the best ethical principles and hence plans to be the
                    most transparent bank in the world.
                </p>
                <p>
                    Ethos Money follows the best ethical principles and hence plans to be the .
                </p>
            </div>
            <div class="info-card-buttons">
                <button class="learn-more-btn">Learn More</button>
                <button class="visit-btn">Visit Ethos Money</button>
            </div>
        </div>
    </section>
</section>