<div class="main-section">
    <div class="card" id="card1">
      <h2>Ethos Money</h2>
      <div class="image-placeholder"></div>
      <p>Soon to be a licensed bank in the financial capital of the world, London, Ethos Money is quickly gaining more and more members in its wait list.</p>
      <p>Ethos Money follows the best ethical principles and hence plans to be the most transparent bank in the world.</p>
      <div class="buttons">
        <button class="learn-more">Learn More</button>
        <button class="visit-ethos">Visit Ethos Money</button>
      </div>
    </div>
    <div class="card" id="card2">
      <h2>Ethos Invest</h2>
      <div class="image-placeholder"></div>
      <p>Soon to be a licensed bank in the financial capital of the world, London, Ethos Invest is quickly gaining more and more members in its wait list.</p>
      <p>Ethos Invest follows the best ethical principles and hence plans to be the most transparent bank in the world.</p>
      <div class="buttons">
        <button class="learn-more">Learn More</button>
        <button class="visit-ethos">Visit Ethos Invest</button>
      </div>
    </div>
    <div class="card" id="card3">
      <h2>Ethos Saudi</h2>
      <div class="image-placeholder"></div>
      <p>Soon to be a licensed bank in the financial capital of the world, London, Ethos Saudi is quickly gaining more and more members in its wait list.</p>
      <p>Ethos Saudi follows the best ethical principles and hence plans to be the most transparent bank in the world.</p>
      <div class="buttons">
        <button class="learn-more">Learn More</button>
        <button class="visit-ethos">Visit Ethos Saudi</button>
      </div>
    </div>
  </div>
  <section style="height:50vh"></section>
  
