<div class="navbar-placeholder"></div>
<nav class="autohide navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/ethos-logo-black.png" alt="Ethos">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon" *ngIf="!isNavbarOpen"></span>
      <span class="cross-icon" *ngIf="isNavbarOpen">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <g clip-path="url(#clip0_1194_2324)">
            <path d="M1.45312 22.5459L22.5469 1.45219L1.45312 22.5459Z" fill="#2E2E2E" />
            <path d="M1.45312 22.5459L22.5469 1.45219" stroke="#2E2E2E" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M22.5469 22.5459L1.45312 1.45219" stroke="black" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </g>
          <defs>
            <clipPath id="clip0_1194_2324">
              <rect width="24" height="24" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </span> <!-- Customize this as needed -->
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" (click)="closeNavbar()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/homepage1" (click)="closeNavbar()">Home Page 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/homepage3" (click)="closeNavbar()">Home Page 3</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Business Pages
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/asset-management" (click)="closeNavbar()">Asset Management</a>
            </li>
            <li><a class="dropdown-item" routerLink="/merchant-banking" (click)="closeNavbar()">Merchant Banking</a>
            </li>
          </ul>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/homepage4" (click)="closeNavbar()">Home Page 4</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/portfolio" (click)="closeNavbar()">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/team-1" (click)="closeNavbar()">Team 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/teams-page" (click)="closeNavbar()">Team 2</a>
        </li>
        <li class="nav-item">
          <button class="nav-link contact-us-btn" routerLink="/contact" (click)="closeNavbar()">Contact Us</button>
        </li>
      </ul>
    </div>
  </div>
</nav>