<div class="cardss">
  <div class="card">
    <h2>Ethos Money</h2>
    <div class="image-placeholder"></div>
    <p>Soon to be a licensed bank in the financial capital of the world, London, Ethos Money is quickly gaining more and more members in its wait list.</p>
    <div class="buttons">
      <button class="learn-more">Learn More</button>
      <button class="visit-ethos">Visit Ethos Money</button>
    </div>
  </div>
  <div class="card">
    <h2>Ethos Invest</h2>
    <div class="image-placeholder"></div>
    <p>Soon to be a licensed bank in the financial capital of the world, London, Ethos Invest is quickly gaining more and more members in its wait list.</p>
    <div class="buttons">
      <button class="learn-more">Learn More</button>
      <button class="visit-ethos">Visit Ethos Invest</button>
    </div>
  </div>
  <div class="card">
    <h2>Ethos Saudi</h2>
    <div class="image-placeholder"></div>
    <p>Soon to be a licensed bank in the financial capital of the world, London, Ethos Saudi is quickly gaining more and more members in its wait list.</p>
    <div class="buttons">
      <button class="learn-more">Learn More</button>
      <button class="visit-ethos">Visit Ethos Saudi</button>
    </div>
  </div>
</div>
