<!-- smooth wrapper -->
<div id="smooth-wrapper">
    <!-- smooth content -->
    <div id="smooth-content">
        <!-- intro -->
        <section class="intro">
            <h1>Marquee effect</h1>
        </section>
        <!-- intro end -->
        <!-- marquee effect -->
        <section class="marquee">
            <div class="marquee-carousel marquee-carousel-1">
                <div class="marquee-items">
                    <div class="marquee-item">
                        <p class="name">John Doe</p>
                        <p class="position">Chif Executive</p>
                        <p>
                            FinTap combines speed and simplicity, making financial management as smooth and efficient as
                            a pro sports move. A true fintech winner.
                        </p>
                    </div>
                    <div class="marquee-item">Item 2</div>
                    <div class="marquee-item">Item 3</div>
                    <div class="marquee-item">Item 4</div>
                    <div class="marquee-item">Item 5</div>
                    <div class="marquee-item">Item 6</div>
                    <div class="marquee-item">Item 7</div>
                    <div class="marquee-item">Item 8</div>
                    <div class="marquee-item">Item 9</div>
                    <div class="marquee-item">Item 10</div>
                </div>
            </div>
            <div class="marquee-carousel marquee-carousel-2">
                <div class="marquee-items">
                    <div class="marquee-item">Item 1</div>
                    <div class="marquee-item">Item 2</div>
                    <div class="marquee-item">Item 3</div>
                    <div class="marquee-item">Item 4</div>
                    <div class="marquee-item">Item 5</div>
                    <div class="marquee-item">Item 6</div>
                    <div class="marquee-item">Item 7</div>
                    <div class="marquee-item">Item 8</div>
                    <div class="marquee-item">Item 9</div>
                    <div class="marquee-item">Item 10</div>
                </div>
            </div>
        </section>

    </div>
</div>