.image-container {
    margin-top: 35px;
    padding: 0 100px 0 100px;
}

.new-container {
    height: 85vh;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.text-gray {
    color: gray;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 100;
}

.image-header {
    font-size: 72px;
    font-style: normal;
    font-weight: 100;
    line-height: 100px;
    /* 138.889% */
    letter-spacing: 0.72px;
}

.image-sub-header {
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
    /* 138.889% */
    letter-spacing: 0.72px;
    margin-left: 50px;
}

.text-black {
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-align: end;
}

//

.full-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0 15%;
    text-align: center;
}

.first-head {
    text-align: left;
    font-size: 44px;
    font-style: normal;
    font-weight: 100;
    line-height: 60px;
    /* 136.364% */
    letter-spacing: 0.44px;
    margin: 0;
}

.second-head {
    width: calc(100% - 200px);
    /* Full width minus 20px */
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    /* 136.364% */
    letter-spacing: 0.44px;
    margin: 0;
}

.desc-text {
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    /* 142.857% */
    letter-spacing: 1px;
    text-align: left;
}

.large-screen {
    display: block;
  }
  
  .small-screen {
    display: none;
  }

@media screen and (max-width: 768px) {
    .image-container {
        margin-top: 35px;
        padding: 0 20px 0 20px;
    }
    .large-screen {
        display: none;
      }
      
      .small-screen {
        display: block;
      }
}

@media screen and (max-width: 576px) {

    .full-container {
        padding: 0 10px;
    }

    .first-head {
        font-size: 28px;
        font-style: normal;
        font-weight: 100;
        line-height: 36px;
        letter-spacing: 0.28px;
    }

    .second-head {
        width: calc(125% - 5px);
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0.28px;
    }

    .desc-text {
        font-size: 20px;
        font-style: normal;
        font-weight: 200;
        line-height: 32px;
        letter-spacing: 1px;
    }
}