<div style="margin: 15px; overflow: hidden !important;">
    <div class="image-container">
        <p  *ngIf="!isMobileView" class="image-header">Ethical Innovation...</p>
        <p  *ngIf="!isMobileView" class="image-sub-header">to make lives better</p>
        <div class="new-container">
            <p *ngIf="isMobileView" class="text-gray">Ethical Innovation...</p>
            <p *ngIf="isMobileView" class="text-black">to make lives better</p>
        </div>
    </div>


    <!-- TEXT ANIMATION -->
    <div class="full-container">
        <div class="first-head" id="first-head">Ethos Ventures</div>
        <div class="second-head" id="second-head">Who we are</div>
        <div class="desc-text">Ethos is a leading investment firm committed to fostering sustainable and socially responsible economic growth through Shariah-compliant investments. Ethos is a leading investment firm committed to fostering sustainable and socially responsible economic growth through Shariah-compliant investments.</div>
    </div>
    <!-- TEXT ANIMATION -->

    <app-horizontal-scroll-cards></app-horizontal-scroll-cards>
    <div class="margin-bottom:50px;"></div>
    <app-text-animation></app-text-animation>
    <!-- <app-team></app-team>  -->
    <app-lateral-section class="large-screen"></app-lateral-section>
    <app-why-us-new class="small-screen"></app-why-us-new>
    <app-team-horizontal></app-team-horizontal>
</div>