.team-container {
    margin: 54px 52px 40px 52px;
}

/* Styles for the Meet the Team section */

.team-title {
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    padding: 0 15px 0 15px;
    line-height: 72px;
    text-align: left;
    position: relative;
    margin-bottom: 24px;
    z-index: 10;
    background-color: white;
}

.team-description {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    padding: 0 15px 0 15px;
    word-break: break-word;
    text-align: left;
    position: relative;
    z-index: 10;
    background-color: white;
}

.meet-leadership-container {
    background-color: white;
    /* Ensure solid background to cover text below */
    position: relative;
    margin-top: 44px;
}


/* Styles for the Ethos Invest Team section */
.ethos-invest-team-title {
    margin-top: 44px;
}

.ethos-invest-team-title,
.meet-leadership-title {
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 52px;
    letter-spacing: 0.5px;
    margin-bottom: 32px;
}

.ethos-invest-team-description {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.5px;
}


/* Meet Leadership styles */

.card-gap {
    margin-bottom: 60px;
    padding: 0 15px 0 15px;
}

::ng-deep .custom-dialog-panel {
    --mdc-dialog-container-color: white;
    height: 90%;

    .mat-mdc-dialog-container .mdc-dialog__surface {
        border-radius: 40px;
        overflow: auto;
    }

    .mat-mdc-dialog-content {
        max-height: initial;
    }
}

::ng-deep .popupBackdropClass {
    background: rgba(0, 0, 0, .32);
}

/* For Responsiveness */


@media screen and (max-width: 576px) {
    .team-container {
        margin: 21px 14px 20px 14px;
    }

    .card-gap {
        margin-bottom: 20px;
        padding: 0 8px 0 8px;
    }

    .team-title {
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 72px;
        margin-bottom: 12px;
        text-align: center;
        padding: 0;
    }

    .team-description {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        /* 160% */
        letter-spacing: 0.5px;
        padding: 0;
        text-align: left;
    }

    .ethos-invest-team-title {
        font-size: 36px;
        font-weight: 800;
        line-height: 44px;
        margin-bottom: 24px;
    }

    ::ng-deep .custom-dialog-panel {
        max-width: 100% !important;
        height: 90%;
        min-width: 100% !important;
        align-self: flex-end !important;

        .mat-mdc-dialog-container .mdc-dialog__surface {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }

    ::ng-deep .popupBackdropClass {
        background-color: rgba(0, 58, 136, 0.4);
    }
}