<!-- <div class="container">
    <div class="left-container">
        <div class="left-content">
            <svg viewBox="0 0 200 200">
                <circle cx="100" cy="100" r="100" fill="fuchsia" />
            </svg>
            <svg viewBox="0 0 200 200">
                <rect x="0" width="200" height="200" fill="blue" rx="15" />
            </svg>
            <svg viewBox="0 0 200 200">
                <polygon points="100,0 0,200 200,200" fill="red" />
            </svg>
        </div>
    </div>
    <div class="right-container">
        <div class="right-content">
            <div class="right-element">1</div>
            <div class="right-element">2</div>
            <div class="right-element">3</div>
        </div>
    </div>
</div> -->

<div class="value-container">
    <div class="left-container">
        <div class="left-content">
            <div class="contain">
                <div class="circle" id="main-circle">
                    <div class="inner-circle" id="top-left">
                        Value Prop 1
                    </div>
                    <div class="inner-circle" id="top-right">
                        Value Prop 2
                    </div>
                    <div class="inner-circle" id="bottom-left">
                        Value Prop 3
                    </div>
                    <div class="inner-circle" id="bottom-right">
                        Value Prop 4
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-container">
        <div class="right-content">
            <div class="right-element">For Value prop 1</div>
            <div class="right-element">For Value prop 2</div>
            <div class="right-element">For Value prop 3</div>
            <div class="right-element">For Value prop 4</div>
        </div>
    </div>
</div>



<!-- <div class="contain">
    <div class="circle" id="main-circle">
        <div class="inner-circle" id="top-left">
            Section 1 Content
        </div>
        <div class="inner-circle" id="top-right">
            Section 2 Content
        </div>
        <div class="inner-circle" id="bottom-left">
            Section 3 Content
        </div>
        <div class="inner-circle" id="bottom-right">
            Section 4 Content
        </div>
    </div>
</div> -->