<footer class="footer mt-auto text-white">
    <div class="container-fluid footer-container">
        <div class="logo-container">
            <img src="assets/ethos.svg" alt="Ethos Logo" class="logo mb-2">
            <img src="assets/ethos-name.svg" alt="Ethos Name Logo" class="logo mb-2">
        </div>
        
        <div class="row"> 
            <div class="col-md-3">        
                <p class="footer-content">By submitting the above information, I understand that I will receive updates from Ethos (No.1)
                    Limited on the progress of the development of the UK Bank and I consent to Ethos (No.1) Limited
                    sending me emails (including invitations to join in testing and feedback sessions) concerning the UK
                    Bank and its offerings</p>

                <p class="footer-content">By submitting the above information, I understand that I will receive updates from Ethos (No.1)
                    Limited on the progress of the development of the UK Bank and I consent to Ethos (No.1) Limited
                    sending me emails (including invitations to join in testing and feedback sessions) concerning the UK
                    Bank and its offerings</p>
            </div>
            <div class="col-md-3">
                <div class="footer-items-header" [routerLink]="['/team']">Our Team</div>
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-items">Blog Page</a></li>
                    <li><a href="#" class="footer-items">Assets Management</a></li>
                    <li><a href="#" class="footer-items">Merchant Banking & Advisory</a></li>
                    <li><a [routerLink]="[ '/contact' ]" class="footer-items">Contact Us</a></li>
                    <li><a [routerLink]="[ '/about-us' ]"  class="footer-items">About Us</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="footer-items-header">Follow us on</div>
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-items">LinkedIn</a></li>
                    <li><a href="#" class="footer-items">X</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="footer-items-header">Policies</div>
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-items">Privacy Policy</a></li>
                    <li><a href="#" class="footer-items">Cookie Preferences</a></li>
                    <li><a href="#" class="footer-items">Terms of Use</a></li>
                </ul>
            </div>
        </div>
        <p class="copyright">© Ethos. 2024. All rights reserved</p>
    </div>
</footer>