<div style="margin: 15px;">
    <!-- <div class="container" (window:scroll)="onScroll($event)">
        <div class="header" id="header">Ethical Innovation...</div>
        <div class="subheader" id="subheader">
            <p>to make lives better</p>
        </div>
        <div class="content" id="content">

        </div>
    </div> -->
    <div class="new-container">
        <p class="text-gray">Ethical Innovation...</p>
        <p class="text-black">to make lives better</p>
    </div>


    <!-- <app-text-animation></app-text-animation> -->
    <!-- <app-left-fade-cards></app-left-fade-cards> -->

    <app-business-sectio></app-business-sectio>
    <app-scroll-cards></app-scroll-cards>
    <app-team></app-team>
    <app-left-card></app-left-card>
    <app-team-horizontal-scroll></app-team-horizontal-scroll>
    <app-value-props></app-value-props>

    <app-horizontal-scroll-cards></app-horizontal-scroll-cards>
    <app-marquee-effect></app-marquee-effect>
    <!-- <app-new-marquee-effect></app-new-marquee-effect> -->
    <app-wheel></app-wheel>

</div>