// .wrapper {
//     /* Uncomment if you need grid layout in the future */
//     /* display: grid; */
//     /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
//   }

.business-section {
  margin: 0 67px 0 67px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically centers the content */
  height: 100vh; /* Makes the section take up the full height of the viewport */

  .business-title {
    font-size: 64px;
    font-style: normal;
    font-weight: 100;
    line-height: 72px; /* 112.5% */
    letter-spacing: 0.64px;
    margin-bottom: 10px;
  }

  .business-subtitle {
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 136.364% */
    letter-spacing: 0.44px;
    margin-bottom: 20px;
    margin-left: 40px;
  }

  .business-description {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px; /* 133.333% */
    letter-spacing: 1px;
  }
}


.card-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 30px;
  /* Distance from the top */
}

.border-bottom-custom {
  width: 100%;
  border-bottom: 1px solid black;
  margin-top: 8%;
}

.cards {
  width: auto;
  height: 90vh;
  background-color: #fff;
  padding: 8% 69px 8% 69px;
  margin: 16px auto;
  /* Center the card and add margin */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* Ensure padding and border are included in width/height */
}

.cards h2 {
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 100px;
  letter-spacing: 1px;
  margin-bottom: 24px;
}

.cards h3,
p {
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: 32px;
  letter-spacing: 0.2px;
  margin-right: 40px;
}



.image-placeholder {
  width: 100%;
  height: 350px;
  background-color: #f2f2f2;
  border-radius: 40px;
  border: 1px solid black;
}

.cards p {
  font-size: 0.875rem;
  margin-bottom: 16px;
}

.visit-ethos {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 24px;
  background-color: white;
  color: black;
  width: 90%;
  cursor: pointer;
  font-size: 1rem;
}

.cards:not(:first-child) {
  position: absolute;
  top: 100%;
  /* Moves the card down by its own height */
  width: 100%;
  /* Adjust width to fill available space */
  left: 0;
}


@media screen and (max-width: 768px) {

  .cards {
    width: auto;
    height: 85vh;
    padding: 16px;
  }

  .cards h2 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 114.286% */
    letter-spacing: 0.28px;
    margin-bottom: 8px;
  }

  .cards h3,
  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 20px;
    /* 125% */
    letter-spacing: 0.16px;
    margin-bottom: 19px;
  }

  .image-placeholder {
    width: 100%;
    height: 180px;
    background-color: #e0e0e0;
    border-radius: 8px;
    margin-bottom: 16px;
  }


  .visit-ethos {
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 24px;
    background-color: white;
    color: black;
    width: max-content;
    display: block; /* Ensure it's treated as a block element */
    margin: 0 auto; /* Center the button horizontally */
    cursor: pointer;
    font-size: 1rem;
    text-align: center; /* Center text if necessary */
  }

  .cards:not(:first-child) {
    position: absolute;
    top: 100%;
    /* Moves the card down by its own height */
    width: 100%;
    /* Adjust width to fill available space */
    left: 0;
  }

}