<div class="w-full h-screen flex justify-center">
  <section class="panel section-pined">
    <div class="panel-inner">
      <div class="pin-group pin-group--spaced">
        <div class="module-info-card">
          <article class="module-info-card__text">
            <h1>Title h1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nostrum neque numquam nihil architecto, velit commodi atque laboriosam accusantium impedit exercitationem similique repellat reiciendis minus sequi, hic necessitatibus quibusdam doloribus!</p>
          </article>
        </div>
      </div>
      <div class="pin-group pin-group--spaced">
        <div class="module-info-card">
          <article class="module-info-card__text">
            <h2>asperiores provident odio delectus?</h2>
            <ul>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sequi fugiat, ipsa eos ad eveniet iure, provident rerum illo ea pariatur. Veniam tempora, possimus labore ratione libero ex perferendis ducimus.</li>
            </ul>
          </article>
        </div>
      </div>
      <div class="pin-group pin-group--spaced">
        <div class="module-info-card">
          <article class="module-info-card__text">
            <h1>Title h1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nostrum neque numquam nihil architecto, velit commodi atque laboriosam accusantium impedit exercitationem similique repellat reiciendis minus sequi, hic necessitatibus quibusdam doloribus!</p>
          </article>
        </div>
      </div>
    </div>
  </section>