#horizontal-scroll {
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.horizontal-scroll-wrapper {
    overflow: hidden;
    height: 100vh;
    padding: 0 0 0 100%;
}

.horizontal-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horizontal-container>div {
    display: flex;
    padding: 0 5px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: flex-start;
}

.horizontal-container>div:first-child {
    padding: 0 5px 0 15px;
}

.horizontal-container>div:last-child {
    padding: 0 15px 0 5px;
}

.horizontal-container .card {
    margin: 15px;
    align-items: stretch;
    width: 280px;
    /* Adjusted card width to better match the image */
    height: 280px;
    /* Adjusted card height to match the image */
    background: #f7f7f7;
    border-radius: 25px;
    /* Reduced the border radius to match the image */
}

@media screen and (max-width: 768px) {

    .horizontal-scroll-wrapper {
        overflow: hidden;
        height: 525px;
        padding: 0 0 0 100%;
    }

    .horizontal-container .card {
        margin: 5px;
        align-items: stretch;
        width: 150px;
        height: 150px;
    }
}