<section id="horizontal-scroll">
    <div class="horizontal-scroll-wrapper">
        <div class="horizontal-container">
            <div class="row">
                <div class="card">
                </div>
                <div class="card">
                </div>
                <div class="card">
                </div>
            </div>
            <div class="row">
                <div class="card">
                </div>
                <div class="card">
                </div>
            </div>
        </div>
    </div>
</section>