<div class="content">
    <div class="simple-box" id="box1">
        <div class="box-content">
            
            <div style="background-color: whitesmoke; height: 80px; margin-bottom: 20px;"></div>
            <h3>Ethical Financial Solutions</h3>
            <ul>
                <li>Delivering comprehensive financial services aligned with ethical and faith-based values.</li>
                <li>Ensuring integrity and transparency in every financial transaction.</li>
                <li>Providing responsible financial products that meet the highest ethical standards.</li>
            </ul>
        </div>
    </div>
    <div class="simple-box" id="box2">
        <div class="box-content">
            <div style="background-color: whitesmoke; height: 80px; margin-bottom: 20px;"></div>
            <h3>Digital Ecosystems</h3>
            <ul>
                <li>Creating a seamless digital platform for ethical financial service providers.</li>
                <li>Connecting users to a global community of like-minded individuals.</li>
                <li>Offering innovative tools and resources to support your financial journey.</li>
            </ul>
        </div>
    </div>
    <div class="simple-box" id="box3">
        <div class="box-content">
            <div style="background-color: whitesmoke; height: 80px; margin-bottom: 20px;"></div>
            <h3>Financial Well-being</h3>
            <ul>
                <li>Enhancing financial health with solutions that prioritize customer values.</li>
                <li>Providing personalized, value-driven financial advice and products.</li>
                <li>Helping customers achieve their financial goals without compromising their principles.</li>
            </ul>
        </div>
    </div>
    <div class="simple-box" id="box4">
        <div class="box-content">
            
            <div style="background-color: whitesmoke; height: 80px; margin-bottom: 20px;"></div>
            <h3>Trust & Transparency</h3>
            <ul>
                <li>Building long-term relationships based on trust and transparency.</li>
                <li>Ensuring customers have complete confidence in their financial decisions.</li>
                <li>Demonstrating a dedication to openness, ethical values, and honesty in the financial services industry.</li>
            </ul>
        </div>
    </div>
</div>