<div class="w-full h-screen flex justify-center">
	<section class="panel section-pined">
	  <div class="panel-inner">
		<div class="pin-group pin-group--spaced">
		  <div class="module-info-card">
			<article class="module-info-card__text">
			  <div style="height: 200px; background: lightgray; border-radius: 20px;"></div>
			  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nostrum neque numquam nihil architecto, velit commodi atque laboriosam accusantium impedit exercitationem similique repellat reiciendis minus sequi, hic necessitatibus quibusdam doloribus!</p>
			</article>
		  </div>
		</div>
		<div class="pin-group pin-group--spaced">
		  <div class="module-info-card">
			<article class="module-info-card__text">
				<div style="height: 200px; background: lightgray; border-radius: 20px;"></div>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nostrum neque numquam nihil architecto, velit commodi atque laboriosam accusantium impedit exercitationem similique repellat reiciendis minus sequi, hic necessitatibus quibusdam doloribus!</p>
			  </article>
		  </div>
		</div>
		<div class="pin-group pin-group--spaced">
		  <div class="module-info-card">
			<article class="module-info-card__text">
				<div style="height: 200px; background: lightgray; border-radius: 20px;"></div>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nostrum neque numquam nihil architecto, velit commodi atque laboriosam accusantium impedit exercitationem similique repellat reiciendis minus sequi, hic necessitatibus quibusdam doloribus!</p>
			  </article>
		  </div>
		</div>
	  </div>
	</section>